@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.mode {
    #left {
        background-color: #000;
        color: white;
    }

    #left a {
        color: white;
    }

    #left p {
        color: white;
    }

    #left a:hover {
        color: #5B9BBF;
    }

    #left #Payment {
        color: white;
    }

    #hero {
        background-color: black;
        color: white;
        box-shadow: 0px 0px 5px white;
    }

    #hero p {
        color: white;
    }

    #hero #navbar #first #welc {
        color: white;
    }

    #hero #navbar #second i {
        color: #5B9BBF;
        background-color: white;
    }

    #hero #navbar #second #mode i {
        color: #5B9BBF;
        background-color: white;
    }

    #hero #navbar #third button {
        border: 2px solid #5B9BBF;
    }

    #hero #navbar #Time p {
        color: white;
    }

    #div2 #box1 h2 {
        color: #5B9BBF;
    }

    #box2 p {
        color: #5B9BBF;
    }

    #hero #main-content #main-box1 #box2 {
        background-color: #5B9BBF;
    }

    #hero #main-content #main-box1 #box2 p {
        color: white;
    }

    #hero #main-content #main-box1 #box1 #div2 #box1 h2 {
        color: white;
    }

    #hero #main-content #main-box1 #box2 h2 {
        color: white;
    }

    #hero #main-content #main-box1 #box2 i {
        background-color: aliceblue;
        color: #5B9BBF;
    }
    #hero #main-content{
        background-color: #000;
    }
}

#main {
    margin: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#left {
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: #5B9BBF;
    /* gap: 25px; */
    /* border: 2px solid; */
}

#left p {
    padding: 40px 25px;
    font-weight: bold;
    color: white;
}

#left #admin {
    font-size: 35px;
    padding: 0px 40px;
    color: white;
    border: none;
}



#left a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 0px 0px 40px;
    text-align: left;
    color: white;
    /* border: 1px solid; */
    width: 100%;
    padding: 15px 20px;
}

#left a:hover {
    background-color: aliceblue;
}

#left #card {
    background-color: aliceblue;
    color: #5B9BBF;
}

#left #card i {
    color: #5B9BBF;
}

#left i {
    padding: 0px 5px;
    text-align: left;
}

#left a:hover {
    color: #5B9BBF;
}

#hero {
    height: 100vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    /* border: 2px solid; */
}

#hero #navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#hero #navbar ul {
    list-style-type: none;
}

#hero #navbar #first {
    width: 410px;
}

#hero #navbar #first #welc {
    font-size: 25px;
    font-weight: bold;
    color: #5B9BBF;
}

#hero #navbar #second {
    width: 90px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#hero #navbar #Time {
    text-align: center;
    width: 160px;
    font-weight: bold;
    font-size: 18px;
    color: #5B9BBF;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 10px;
}

#hero #navbar #second i {
    padding: 7px 8px;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: #5B9BBF;
    box-shadow: 0px 0px 2px;
}

#hero #navbar #second #mode i {
    padding: 8px 8px;
    color: #5B9BBF;
}

#hero #navbar #second a {
    text-decoration: none;
}

#hero #navbar #third input {
    width: 75%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
    box-shadow: 0px 0px 1px #4444449e;
    outline: none;
}

#hero #navbar #third button {
    width: 25%;
    padding: 9px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #5B9BBF;
    cursor: pointer;
    background-color: #5B9BBF;
    box-shadow: 0px 0px 1px;
}

#hero #navbar #third button i {
    color: white;
}

#main-content {
    margin-bottom: 60px;
    height: 80vh;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5B9BBF;
    box-shadow: 0px 0px 5px;
}

#main-content h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 100px;
    color: white;
    /* background: url("https://e0.pxfuel.com/wallpapers/581/525/desktop-wallpaper-dual-screen-3d-high-definitions-3d-dual-monitor.jpg") no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}