@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

.mode {
    #left {
        background-color: #000;
        color: white;
    }

    #left a {
        color: white;
    }

    #left p {
        color: white;
    }

    #left a:hover {
        color: #5B9BBF;
    }

    #left #Payment {
        color: white;
    }

    #hero {
        background-color: black;
        color: white;
        box-shadow: 0px 0px 5px white;
    }

    #hero p {
        color: white;
    }

    #hero #navbar #first #welc {
        color: white;
    }

    #hero #navbar #second i {
        color: #5B9BBF;
        background-color: white;
    }

    #hero #navbar #second #mode i {
        color: #5B9BBF;
        background-color: white;
    }

    #hero #navbar #third button {
        border: 2px solid #5B9BBF;
    }

    #hero #navbar #Time p {
        color: white;
    }
    table td {
        background-color: #000;
        border: 1px solid #5B9BBF;
        font-size: 12px;
        font-weight: bold;
        color: white;
    }
}

#main {
    margin: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#left {
    height: 100vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color: #5B9BBF;
    /* gap: 25px; */
}

#left p {
    padding: 40px 25px;
    font-weight: bold;
    color: white;
}

#left #admin {
    font-size: 25px;
    padding: 0px 45px;
    color: white;
    border: none;
}



#left a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 0px 0px 40px;
    text-align: left;
    color: white;
    /* border: 1px solid; */
    width: 100%;
    padding: 15px 20px;
}

#left a:hover {
    background-color: aliceblue;
}

#left #table {
    background-color: aliceblue;
    color: #5B9BBF;
}

#left a i {
    padding: 0px 5px;
    text-align: left;
}

#left a:hover {
    color: #5B9BBF;
}

#left #premium {
    height: 45vh;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 15px;
}

#hero {
    height: 100vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    /* border: 2px solid; */
}

#hero #navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#hero #navbar ul {
    list-style-type: none;
}

#hero #navbar #first {
    width: 380px;
}

#hero #navbar #first #welc {
    font-size: 25px;
    font-weight: bold;
    color: #5B9BBF;
    cursor: pointer;
}

#hero #navbar #second {
    width: 130px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#hero #navbar #Time {
    text-align: center;
    width: 170px;
    font-weight: bold;
    font-size: 18px;
    color: #5B9BBF;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 10px;
}

#hero #navbar #second i {
    padding: 7px 8px;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: #5B9BBF;
    box-shadow: 0px 0px 2px;
}

#hero #navbar #second #mode i {
    padding: 8px 8px;
    color: #5B9BBF;
}

#hero #navbar #second a {
    text-decoration: none;
}

#hero #navbar #third input {
    width: 75%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
    box-shadow: 0px 0px 1px #4444449e;
    outline: none;
}

#hero #navbar #third button {
    width: 25%;
    padding: 9px 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #5B9BBF;
    cursor: pointer;
    background-color: #5B9BBF;
    box-shadow: 0px 0px 1px;
}

#hero #navbar #third button i {
    color: white;
}

#hero #main-content {
    margin: 8px auto;
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: scroll;
    /* border: 2px solid #5B9BBF; */
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    /* background-color: #5B9BBF; */
}

table th,
td {
    border: 1px solid;
    padding: 10px 10px;
    text-align: justify;
    font-weight: bold;
    text-align: center;
}

table button {
    padding: 10px 18px;
    border: none;
    font-weight: bold;
    background-color: #5B9BBF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 2px;
}

table button:hover {
    background-color: white;
    color: #5B9BBF;
    box-shadow: 0px 0px 2px;
}

table #head {
    position: sticky;
    top: 0px;
}

table th {
    background-color: white;
    border: 1px solid;
    color: #5B9BBF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 12px;
}

table td {
    background-color: #5B9BBF;
    border: 1px solid #d6c7c7;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

tbody td {
    padding: 5px 45px;
    text-align: start;
}

#bottom {
    height: 10vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#bottom button {
    padding: 12px 25px;
    cursor: pointer;
    background-color: #5B9BBF;
    color: white;
    font-weight: bold;
    border: 1px solid #5B9BBF;
}

#bottom button:hover {
    background-color: white;
    color: #5B9BBF;
}

/*edit form */

form {
    position: fixed;
    top: 220px;
    height: 360px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 0px 5px white;
    padding: 20px 0px;
    border-radius: 10px;
    display: none;
    background-color: #5b9abfdf;
}

form input {
    margin-top: 10px;
    margin-left: 43px;
    width: 75%;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    background-color: #5B9BBF;
    border: 1px solid #d6c7c7;
    outline: none;
    color: white;
}
form input::placeholder{
    color: white;
}

form #submit {
    padding: 12px;
    background-color: #5B9BBF;
    color: white;
    cursor: pointer;
}

form #submit:hover {
    background-color: white;
    color: #5B9BBF;
}

form h2 {
    color: white;
}

form #btn{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
}
form #btn:hover{
    color: black;
}